/* font-family: 'Assistant', sans-serif;
font-family: 'Lobster Two', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Lobster+Two&display=swap');


.header-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 4.0rem;
    text-align: left;
    color: white;
}
.header-sub {
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    text-align: left;
    color: white;

}
.header-container{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #2e6de4;
}

.page-title{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color: white;
}

.navigation li{
    display: inline-block;
    padding-right: 2rem;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2rem;
    
}
.navigation{
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #ebb237;
}

.link-article{
    text-decoration: none;
    font-family: "Assistant", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 1.4rem;
    
}

.description-website{
    font-family: "Assistant", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.article-container{
    width: 550px;
    padding: 2rem;
    margin-left: 20%;
    border-style: solid;
    border-width: 10px;
    border-color: #2e6de4;
    background-color: #ffffff;
    
}

.screenshot-website{
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2rem;
}

.links-container{
    text-align: center;
}

.socials-list li{
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.2rem;
    transition: 1s;
}

.socials-list{
    float:right;
    left: 75%;
    line-height: 10;
    padding-right: 1rem;
    
}
.socials-list-contact{
    left: 75%;
    padding-left: 0;
    padding-top: 1rem;
    
}
.socials-list-contact li{
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.2rem;
    transition: 1s;
}

.socials-list li a img {
    filter:invert(100%)
}

.socials-list li:hover{
    transform: scale(1.2)
}

body{
    background-image: url("../images/background.jpeg");
    background-color: black;
    background-size: cover;
}

.portfolio-articles-list article{
    display: block;
    /* position:absolute; */
    list-style: none;
    padding-right: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-articles-list{
    display: block;
    margin: auto;
    padding: auto;

}

.link-react{
    color: black;
    text-decoration: none;
    
}
.link-react:hover{
    font-weight: bold;
    color: purple;
}

.contact-page{
    text-align: center;
}
.contact-page{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-style: solid;
    border-width: 10px;
    border-color: #2e6de4;
    padding-bottom: 2rem;
}
.in-touch{
    text-align: left;
    font-family: "Lobster Two", sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #2e6de4;
    background-color: #ebb237;
    border-bottom: solid 10px #2e6de4;
    margin-bottom: 1rem;
}

.contact-description{
    font-family: "Assistant", sans-serif;
    font-size: 1.2rem;
}
.contact-info{
    font-family: "Assistant", sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    padding-bottom: 2rem;
    color: #2e6de4;
}

.headshot{
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #ebb237;
}
.aboutMe-container{
    background-color: white;
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-style: solid;
    border-width: 10px;
    border-color: #2e6de4;
}
.aboutMe-name{
    font-family: "Lobster Two", sans-serif;
    font-size: 2.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.aboutMe-description{
    font-family: "Assistant", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}
.aboutMe-fullDescription{
    font-family: "Assistant", sans-serif;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.moreAboutMe-container{
    background-color: white;
    display: block;
    margin-bottom: 2rem;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-style: solid;
    border-width: 10px;
    border-color: #2e6de4;
}
.moreAboutMe-title{
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-size: 2.4rem;
    padding:1rem;
}
.spirits-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #ebb237;
}
